
.title-border(){
	border-bottom: 1px solid @color_two;
	color : #A5A0A4;
	font-size: 20px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

blockquote{
	background-image: url(../images/blockquote-bubble-speech.png);
	background-color: @color_one;
	background-position: 20px 20px;
	background-repeat: no-repeat;
	border: 0;
	color : @white;
	margin-bottom: 53px;
	padding: 58px 20px 20px;
	position: relative;
	p{
		font-size: 28px;
		font-weight: 700;
		line-height: 1.55;
		margin-bottom: 25px;
	}
	small{
		color : @white;
		font-family: @altFontFamily;
		font-size: @baseFontSize + 5;
		&:before{
			content : none;
		}
	}
	h1,h2,h3,h4,h5,h6{
		font-family: @sansFontFamily;
		font-weight: bold;
	}
	h2{
		font-size: (@baseFontSize * 4) + 3;
		line-height:(@baseFontSize * 4) + 3;
		small{
			font-size: @baseFontSize + 5;
			margin-top: 40px;
		}
	}
	&:after{
		border-right: 42px solid transparent;
		border-top: 45px solid @color_one;
		height: 0;
		left: 45px;
		position: absolute;
		top: 100%;
		width: 0;
	}
	&.pull-right{
		border: 0;
		padding: 58px 20px 20px;
		&:after{
			border-bottom: 42px solid transparent;
			border-right: 45px solid @color_one;
			border-top: 0;
			left: auto;
			right: 45px;
		}
		small{
			&:after{
				content: none;
			}
		}
	}
}
.table{
	thead{
		th{
			background-color: @color_three;
			color: @white;
			font-family: @altFontFamily;
			font-size: 1.1em;
			a{
				color: @white;
			}
		}
	}
	th{
		font-weight: 400;
	}
	td{
		color: @grayDark + #111;
	}
	th , td{
		padding-bottom: 13px;
		padding-top: 13px;
		text-align: center;
	}
}
.table-condensed {
	th, td{
		padding-bottom: 8px;
		padding-top: 8px;
	}
}

.table-bordered{
	.border-radius(0);
}
.table-bordered caption+thead tr:first-child th:first-child, .table-bordered caption+tbody tr:first-child td:first-child, .table-bordered colgroup+thead tr:first-child th:first-child, .table-bordered colgroup+tbody tr:first-child td:first-child{
	.border-radius(0);
}
.table-bordered caption+thead tr:first-child th:last-child, .table-bordered caption+tbody tr:first-child td:last-child, .table-bordered colgroup+thead tr:first-child th:last-child, .table-bordered colgroup+tbody tr:first-child td:last-child{
	.border-radius(0);
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child{
	.border-radius(0);
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child{
	.border-radius(0);
}
.table-bordered thead:last-child tr:last-child>th:first-child, .table-bordered tbody:last-child tr:last-child>td:first-child, .table-bordered tbody:last-child tr:last-child>th:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>th:first-child{
	.border-radius(0);
}
.table-bordered thead:last-child tr:last-child>th:last-child, .table-bordered tbody:last-child tr:last-child>td:last-child, .table-bordered tbody:last-child tr:last-child>th:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>th:last-child{
	.border-radius(0);
}

div.bs-docs-example blockquote{
	margin-bottom: 53px;
	margin-top: 10px;
}
.alt-black{
	background-color: @altBlack;
}
.fix_rgba_ie_v_8(){
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	content: '';
	display: block;
	background-color: @color_one;
}
.is_internet.v_8{
	.navbar-inverse{
		.navbar-inner{
			background-color: transparent;
			-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5111111,endColorstr=#E5111111)";
		}
	}
	.header{
		background-color: transparent;
		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5111111,endColorstr=#E5111111)";
		.navbar-inner{
			-ms-filter: none;
			filter: none;
		}
	}
}

.header{
	padding-top: 20px;
	background-color: @navbarInverseBackground;

	.navbar-inner{
		background-color: transparent;
	}
}
#header{
	margin-bottom: 0;
	.navbar-inner{
		padding-left: 0;
		padding-right: 0;
	}

	+ #grid-top,
	+ #grid-top2,
	+ #grid-top3{
		margin-top: 70px;
		&.tone_inverse_color,
		&.color_one,
		&.color_two,
		&.color_three,
		&.color_four,
		&.color_five,
		{
			margin-top: 0;
		}
	}
}
#featured{
	margin-bottom: 0;

	.clearfix();
	.moduletable, .module{
		margin-bottom: 0;
	}
}

.wrapp-content{
	margin-bottom: 50px;
	margin-top: 50px;
}

.well{
	border:0;
	border-radius: 0;
	box-shadow: none;
	color : @grayLight;

	h1,h2,h3,h4,h5,h6{
		text-shadow: none;
	}
	> *:last-child{
		margin-bottom: 0;
	}

	> .btn-toolbar:first-child{
		margin-top: 0;
	}
}

.hero-unit{
	border-radius: 0;
	color: @textColor !important;
	font-size: 16px;
	text-align: center;
	h1,h2,h3,h4,h5,h6{
		font-family: @sansFontFamily;
		font-weight: 700;
	}
	.hero-unit{
		padding-left: 0;
		padding-right: 0;
	}
}

#above-content, #sidebar1, #sidebar2 , #below-content{
	.module, .moduletext, .moduletable{
		> h3{
			.title-border();
		}
	}
	.module_noborder, .moduletext_noborder, .moduletable_noborder{
		> h3{
			.title-border();
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}
.item-page{
	> .page-header{
		h1{ font-size: 2.8em;}
	}
	.title-article{
		h2{
			font-size: 2.8em;
		}
		.page-header{
			border-bottom: 0;
			margin: 0;
			h2{
				font-size: 2.8em;
				text-transform: none;
			}
		}
	}
}
.blog, .blog-featured{
	> .page-header{
		h2,h1{
			font-size: @baseFontSize + 6;
		}
	}
	.items-leading {
		[class^="leading-"]{
			> h2{
				font-size: 1.4em;
			}
		}
	}
	.items-row{
		[class^="item"]{
			> h2{
				font-size: 1.4em;
			}
		}
	}
}

.list-striped li, .list-striped dd, .row-striped .row, .row-striped .row-fluid{
	&:hover {
		color : @textColor;
		a{
			color:@color_three;
		}
	}
}
.lead{
	font-size: (@baseFontSize * 2) + 2;
	line-height: 40px;
	a{
		text-decoration: underline;
	}
}
.list-striped li:nth-child(odd), .list-striped dd:nth-child(odd), .row-striped .row:nth-child(odd), .row-striped .row-fluid:nth-child(odd){
	color: @textColor;
	a:link,
	a:visited {
		color: @color_three;
	}
}

.finder, .search{
	label,input{
		margin-left: 5px;
		margin-right: 5px;
	}
}
[class*="module"]{
	.clearfix();
	> h3{
		font-size: (@baseFontSize + 1) * 2;
	}
}

.module_ms1, .moduletext_ms1, .moduletable_ms1{
	background-color: @color_one;
	color : #EDEDED;
	padding: 13.333333333333334px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

	>h3{
		border-bottom: 1px solid @color_two;
		margin-top: 0;
	}
	a:link,
	a:visited
	{
		color : @color_two;
	}
}

.module_ms2, .moduletext_ms2, .moduletable_ms2{
	border: 1px solid @color_one;
	padding: 13.333333333333334px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
			box-sizing: border-box;
	> h3{
		background-color: @color_one;
		color : @grayLighter;
		margin: -13.333333333333334px -13.333333333333334px 13.333333333333334px;
		padding: 6px 11px;
	}
}

.module_ms3, .moduletext_ms3, .moduletable_ms3{
	background-color: fade(@color_two, 95%);
	font-size: @baseFontSize + 2;
	line-height: @baseLineHeight + 2;
	padding: 1.4em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

	>h3{
		font-size: ((@baseFontSize + 1) * 2 ) + 10;
		margin-top: 0;
		text-transform: uppercase;
	}

	h1,h2,h3,h4,h5,h6{
		color: @white;
	}
	[class*="custom"]{
		> p{
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	a:link,
	a:visited
	{
		color : @black;
		font-weight: 700;
		text-decoration: underline;
	}
	&.onhover{
		padding: 0;
		.wrightmodule-content{
			background-color: fade(@color_two, 95%);
			padding: 13px 25px;

			>h3{
				font-size: ((@baseFontSize + 1) * 2 ) + 10;
				margin-top: 0;
				text-transform: uppercase;
			}

			h4.wrightmodule-subtitle{
				font-size: @baseFontSize + 2;
				+ h3{margin-bottom: 8px; margin-top: 5px;}
			}
			.wrightmodule-subtitle{
				color: @color_one;
				margin: 0;
				text-transform: uppercase;
			}
		}
	}
}

.is_internet.v_8{
	.module_ms3, .moduletext_ms3, .moduletable_ms3{
		background-color: @color_two;
		&.onhover{
			.wrightmodule-content{
				background-color: @color_two;
			}
		}
	}
}
.module_ms4, .moduletext_ms4, .moduletable_ms4{
	font-size: @baseFontSize + 2;
	line-height: @baseLineHeight + 2;
	> h3{
		color : @color_three;
		font-size: 20px;
	}
}
.module_ms5, .moduletext_ms5, .moduletable_ms5{
	background-color: @color_one;
	color : @white;
	font-size: @baseFontSize + 4;
	line-height: @baseLineHeight + 7;
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	> h3{
		color : @color_four;
		font-size: 20px;
		padding-bottom: 7px;
		text-transform: uppercase;
		border-bottom: 1px solid @color_two;
	}
	a:link,
	a:visited {
		color : @color_two;
	}
}

.module_ms6, .moduletext_ms6, .moduletable_ms6{
	> h3{
		border-bottom: 1px solid @color_two;
		color : #A6A2A4;
		font-size: @baseFontSize + 6;
		padding-bottom: 5px;
		text-transform: uppercase;
	}
}

.container-no-padding{
	padding-left: 0;
	padding-right: 0;
}

[class*="newsflash"]{
	list-style: none;

	[class*="newsflash-title"]{
		color: #888;
		.page-header{
			border-bottom: 0;
			color: #888;
			font-family: @altFontFamily;
			margin: 0;
			[class^="icon-"]{
				display: none;
			}
		}
	}

	h2{
		font-size: (@baseFontSize + 1) * 2;
	}

	h3{
		font-size: @baseFontSize + 6;
	}

	.article-separator{
		border-bottom: 1px solid @color_four;
		display: block;
		margin-bottom: 30px;
		margin-top: 10px;
	}
}
[class*="newsflash-vert"]{
	margin-left: 0;
}
[class*="newsflash-horiz"]{
    li{
	    &:nth-child(5),&:nth-child(9),&:nth-child(13),&:nth-child(17),&:nth-child(21){margin-left: 0;}
    }
}

[class*="newsflash-2columns"]{
	margin-top: 70px;
	li{
		margin-bottom: 50px;
	}
	.img-intro-left, .img-fulltext-left{
		margin: 0;
	}
	[class*="newsflash-title"]{
		margin-top: 25px;
	}
}

[class*="newsflash-horiz"],
[class*="newsflash-2columns"]{
	.article-separator{
		border-bottom: 0;
		margin: 0;
	}
}

[class*="category-module"]{
	&.list-striped{
		border-top: 0;

		li:nth-child(odd),
		dd:nth-child(odd){
			background-color: transparent;

			&:hover{
				background-color: transparent;
			}

			a{
				color : @linkColor;
				&:hover,&:focus{
					color : @linkColorHover;
				}
			}
		}
		li , dd{
			padding-bottom: 10px;
			padding-top: 10px;
			border-bottom-color: @color_four;
			&:hover{
				background-color: transparent;
			}

			&:first-child{
				padding-top: 0;
			}

			> span[class*="mod-articles-"]{
				display: inline-block;
				margin-bottom: 20px;
				margin-right: 3px;
			}

		}
	}
	&.row-striped {
		border-top: 0;

		.row:nth-child(odd),
		.row-fluid:nth-child(odd){
			background-color: transparent;
			padding-bottom: 20px;
			padding-top: 20px;
			border-bottom-color: @color_four;

			&:hover{
				background-color: transparent;
			}

			a{
				color : @linkColor;
				&:hover,&:focus{
					color : @linkColorHover;
				}
			}
		}
		.row, .row-fliud{
			padding-bottom: 20px;
			padding-top: 20px;
			border-bottom-color: @color_four;
			&:hover{
				background-color: transparent;
			}
			> span[class*="mod-articles-"]{
				display: inline-block;
				margin-bottom: 20px;
				margin-right: 3px;
			}
		}
	}
	.mod-articles-category-title{
		> .icon-file{
			display: none;
		}
		&.btn{
			background-color: transparent;
			border: 0;
			display: block;
			padding: 0;
			text-align: left;
			color : @linkColor;

			&:after{
				display: none;
			}
		}
	}
}
.wrapp-breadcrumb{
	background-color: @white;
	color: @textColor;
	.breadcrumb{
		background-color: @white;
	}
}
#breadcrumbs{
	margin-bottom: 0;
}
.breadcrumb{
	background-color: transparent;
	border-radius: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;

	> li {
		font-family: @altFontFamily;
		text-shadow: none;
		.divider{
			color : #323232;
			&.icon-map-marker{
				padding-left: 0;
			}
			[class^="icon-"], [class*=" icon-"]{
				padding-right: 5px;
				&:before{
					content: '\f054';
					font-size: 10px;
				}
			}
		}
	}
	>.active{color: @textColor;}
}

[class^="weblinks"], [class*=" weblinks"]{
	>li {
		> a[rel="follow"] {
			display: block;
			margin-bottom: 10px;
			[class^="icon-"], [class*=" icon-"]{
				margin-right: 5px;
			}
		}
	}
}


#footer{
	background-color: @altBlack;
	background-image: none;
	filter: none;
	.footer-content{
		font-size: @baseFontSize - 3;
		a{
			color: @white;
			&:hover, &:focus{
				color: @color_one;
			}
		}
		.module, .moduletext, .moduletable{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.list-striped, .row-striped{
			border-top-color: @gray;
			li , dd, .row, .row-fluid{
				border-bottom-color: @gray;

				&:hover{
					background-color: @grayDarker;
					color:@white;
				}

				&:nth-child(odd){
					background-color: @grayDark;
					color: @white;
				}
			}
		}
	}
	&.sticky{
		z-index: 1000;
	}
}

#sidebar1 input, #sidebar2 input{
	height: 40px;
	&.btn{
		padding-right: 12px;
		&:after{
			content : none;
		}
	}
}
#sidebar1, #sidebar2{
	.input-prepend{
		.add-on{
			line-height: 30px;
			height: 30px;
		}
	}
}
p.readmore{
	float: none;
	margin-top: 15px;
	text-transform: uppercase;
	a{
		background-color: transparent;
		background-image: none;
		border: 0;
		color: @linkColor;
		filter:none;
		font-size: @baseFontSize + 2;
		padding: 0;
		&:hover, &:focus{
			background-color: transparent;
			color: @linkColorHover;
		}
		&:after{
			content: none;
		}
	}
	.icon-chevron-right{display: none;}
}
.items-row, .items-leading{
	margin-bottom: 15px;
}
.items-more{
	.clearfix();
}
.pager{
	li{
		> a, > span{
			.btn;
			.btn-primary;
			background-color: @btnPrimaryBackground;
			border-radius: 0;
			font-size: @baseFontSize + 2;
			padding-right: 33px;
			&:after{
				background-color: @btnPrimaryBackground;
				width: 31px;
			}
			&:hover,&:focus{
				&:after{
					background-color: @btnPrimaryBackgroundHover;
				}
			}
		}
		&.previous{
			> a, > span{
				padding-left: 33px;
				padding-right: 14px;
				&:after{
					background-image: url(../images/pager-arrow-prev.png);
					left: 20px;
					right: auto;
				}
			}
		}
	}
}

.pagination{
	ul {

		> li  {
			> a, > span{
				text-transform: uppercase;
				color: @textColor;
				&:hover{
					color : @grayLighter
				}
			}
			&.active{
				> a, > span{
					color : @grayLighter
				}
			}
		}
	}
	p.counter{
		line-height: 32px;
		&.pull-right{
			margin-left: 10px;
		}
	}
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span,
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span{
	border-radius: 0;
}

.contact{
	dd{
		margin-bottom: 10px;
	}
}


dl.article-info{
	font-size: @baseFontSize;
	margin-bottom: 20px;

	dd{
		margin-right: 10px;
		padding: 0;

		[class^="icon-"], [class*=" icon-"]{
			display: none;
		}
		&:hover{
			background-color: transparent;
		}
	}
}

.article-info.muted{
	color: @textColor;
}

#menu{
	margin-bottom: 0;
}

.navbar-inner , .navbar-inverse .navbar-inner{
	background-image: none;
	border: 0;
	border-radius: 0 0 0 0;
	box-shadow: none;
}


/* Menu - Bootstrap Dropdown Navbar - Addition for multi-level ***********************************************************************************/

// Navbar position menu

.navbar .nav{
	> li {
		margin: 10px 15px;
		padding-bottom: 10px;
		> a{
			padding: 2px 0;
		}
		&:focus,
		&:hover{
			> a {
				position: relative;
				&:before, &:after{
					content: '';
					height: 0;
					left: 0;
					position: absolute;
					width: 100%;
				}
				&:before{
					border-top: 1px solid @navbarLinkColor;
					top: 0;
				}
				&:after{
					border-bottom: 1px solid @navbarLinkColor;
					bottom: 0;
				}
			}
		}
		&.active{
			> a{
 				box-shadow: none;
				position: relative;
				&:before, &:after{
					content: '';
					height: 0;
					left: 0;
					position: absolute;
					width: 100%;
				}
				&:before{
					border-top: 1px solid @navbarLinkColor;
					top: 0;
				}
				&:after{
					border-bottom: 1px solid @navbarLinkColor;
					bottom: 0;
				}
				&:hover, &:focus{
					box-shadow: none;
				}
			}
		}
		&.divider-vertical{
			border-left-color: @grayLight ;
			margin-top: 0;
			padding-bottom: 3px;
		}
	}
}

.is_chrome,
.is_internet.v_8{
	.navbar .nav{
		> li {
			> a{
				padding: 3px 0 1px;
			}
		}
	}
}

.navbar-form input, .navbar-form select, .navbar-form .btn{
	margin-bottom: 5px;
}

.nav,
.navbar-inner,
.nav .navbar-inner,
.navbar .nav,
.navbar .nav .navbar-inner {
	li {
		margin-bottom: 0;
		line-height: inherit;
		> a {
			font-family: @altFontFamily;
			font-size: 1.1em;
			line-height: 1.1em;
			text-transform: uppercase;
			&.item-desc{
				color : @color_three;
			}
			.caret{
				margin-top: 5px;
			}
		}

		.dropdown-menu,
		.dropdown {
			background-color: transparent;
			&:before, &:after{
				display: none;
			}
			border: 0;
			li {
				padding-bottom: 1px;
				> a {
					background-color: @dropdownBackground;
					.caret {
						margin-top: 3px;
						border-left: 4px solid @dropdownBackground;
					}
					[class^="icon-"],
					[class*=" icon-"] {
						color: @dropdownBackground;
					}
					&:hover,
					&:focus {
						background-color: @dropdownBackground;
						background-image: none;
						color: @dropdownLinkColorHover;
						filter:none;
						.caret {
							border-bottom: 4px solid transparent;
							border-left: 4px solid @dropdownLinkColorHover;
							border-top: 4px solid transparent;
						}
						[class^="icon-"],
						[class*=" icon-"] {
							color: @dropdownLinkColorHover;
						}
					}
				}
				&.active {
					> a {
						background-image: none;
						color: @dropdownLinkColorActive;
						filter:none;
						.caret {
							border-left: 4px solid @dropdownLinkColorActive;
						}
						[class^="icon-"],
						[class*=" icon-"] {
							color: @dropdownLinkColorActive;
						}
					}
				}
			}
			.sub-menu {
				background-color: transparent;
				margin-top: 0 !important;
				padding-bottom: 0;
				padding-top: 0;
				li {
					> a{
						color: @white;
						background-color: @grayDarker;
						[class^="icon-"],
						[class*=" icon-"] {
							color: @white;
						}
						.caret{
							border-left-color: @white;
						}
						&:hover,
						&:focus {
							background-color: @gray - #111;
							color: @grayLighter;
							.caret {
								border-left-color: @grayLighter;
							}
							[class^="icon-"],
							[class*=" icon-"] {
								color: @grayLighter;
							}
						}
					}
				}
			}
		}
	}
}

.module {
	.tabbable {
  		li {
  			&.dropdown {
  				.dropdown-menu {
	    			li {
	    				> a {
	    					background-color: @grayDarker;
	    				}
	    			}
	    		}
	    	}
		}
	}
}

.dropdown-menu .sub-menu:before,
.dropdown-menu .sub-menu:after{
	display: none !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a{
	background-image: none;
	filter:none;
}

// Inverse navbar position menu

.navbar-inverse {
	.nav,
	.navbar-inner,
	.nav .navbar-inner,
	.navbar .nav,
	.navbar .nav .navbar-inner {
		> li {
			&:focus,
			&:hover{
				> a {
					&:before{
						border-top: 1px solid @navbarInverseLinkColor;
					}
					&:after{
						border-bottom: 1px solid @navbarInverseLinkColor;
					}
				}
			}
			&.active{
				> a{
					&:before{
						border-top: 1px solid @navbarInverseLinkColor;
					}
					&:after{
						border-bottom: 1px solid @navbarInverseLinkColor;
					}
				}
			}
		}
		li {
			> a {
				.caret {
					border-top-color: @navbarInverseLinkColor;
					border-bottom-color: @navbarInverseLinkColor;
				}
				[class^="icon-"],
				[class*=" icon-"] {
					color: @navbarInverseLinkColor;
				}
				&:hover,
				&:focus {
					color: @navbarInverseLinkColorHover;
					.caret {
						border-top-color: @navbarInverseLinkColorHover;
						border-bottom-color: @navbarInverseLinkColorHover;
					}
					[class^="icon-"],
					[class*=" icon-"] {
						color: @navbarInverseLinkColorHover;
					}
				}
				&.item-desc{
					color : @itemDescColor;
				}
			}
			&.active {
				> a {
					.caret {
						border-top-color: @navbarInverseLinkColorActive;
						border-bottom-color: @navbarInverseLinkColorActive;
					}
					[class^="icon-"],
					[class*=" icon-"] {
						color: @navbarInverseLinkColorActive;
					}
					&:hover,
					&:focus {
						color: @navbarInverseLinkColorHover;
						.caret {
							border-top-color: @navbarInverseLinkColorHover;
							border-bottom-color: @navbarInverseLinkColorHover;
						}
						[class^="icon-"],
						[class*=" icon-"] {
							color: @navbarInverseLinkColorHover;
						}
					}
				}
			}
			.dropdown-menu{
				li.active > a:hover{
					color : @dropdownLinkColorActive;
				}
			}
		}
	}
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus{
	color : @white;
}
.module .nav.nav-stacked li.active>a, .module .nav.nav-pills li.active>a, .module .nav.nav-list li.active>a{
	color : @white;
}

.module{
	.nav.nav-pills.nav-stacked{
		> li.active{
			> a{
				.caret{
					border-top-color: @white;
				}
			}
		}
	}
}

.is_internet.v_9,
.is_internet.v_10{
	.nav,
	.navbar-inner,
	.nav .navbar-inner,
	.navbar .nav,
	.navbar .nav .navbar-inner {
		> li {
			> a {
				.caret{
					margin-top: 7px;
				}
			}
			ul li > a{
				.caret{
					margin-top: 4px;
				}
			}
		}
	}
}

// Special styles in menus (tabs, pills)

.nav.nav-tabs,
.nav.nav-pills {
	li {
		> a {
			[class^="icon-"],
			[class*=" icon-"] {
				color: @linkColor;
			}
			.caret {
				border-top-color: @linkColor;
			}
			&:hover,
			&:focus {
				[class^="icon-"],
				[class*=" icon-"] {
					color: @linkColorHover;
				}
				.caret {
					border-top-color: @linkColorHover;
				}
			}
		}
		&.active {
			> a {
				color: @white;
				[class^="icon-"],
				[class*=" icon-"] {
					color: @white;
				}
				.caret {
					border-top-color: @white;
				}
			}
		}
		.dropdown,
		.dropdown-menu {
			li {
				> a {
					.caret {
						border-top-color: transparent;
						border-left-color: @dropdownLinkColor;
					}
					&:hover,
					&:focus {
						.caret {
							border-left-color: @dropdownLinkColorHover;
						}
					}
				}
				&.active {
					> a {
						.caret {
							border-left-color: @dropdownLinkColorActive;
						}
						&:hover,
						&:focus {
							.caret {
								border-left-color: @dropdownLinkColorActive;
							}
						}
					}
				}
			}
		}
	}
}

.nav.nav-pills li.dropdown .dropdown-menu .sub-menu li > a{
	background-color: @grayDarker;
}
.nav.nav-tabs {
	border-bottom-color: @white;
	margin-bottom: 0;
	li {
		&.active {
			> a {
				background-color: @color_three;
				color: @grayLighter;
				[class^="icon-"],
				[class*=" icon-"] {
					color: @grayLighter;
				}
				.caret {
					border-top-color: @grayLighter;
				}
			}
		}
	}
	> li {
		> a {
			background-color: @color_two;
			border-color: transparent @white transparent transparent;
			border-radius: 0;
			color : @grayDark;
			display: block;
			font-family: @altFontFamily;
			font-size: 16px;
			line-height: 42px;
			margin-right: 0;
			min-height: 42px;
			padding: 0 16px;

			[class^="icon-"],
			[class*=" icon-"] {
				color : @grayDark
			}
			.caret {
				border-top-color: @grayDark;
				margin-top: 19px;
			}
			&:hover,
			&:focus {
				background-color: @color_three;
				color : @grayLighter ;
				text-decoration: none;
				[class^="icon-"],
				[class*=" icon-"] {
					color: @grayLighter;
				}
				.caret {
					border-top-color: @grayLighter;
				}
			}
		}
		&.active {
			> a {
				background-color: @color_three;
				color : @grayLighter ;
				border-color: transparent @white transparent transparent;
				[class^="icon-"],
				[class*=" icon-"] {
					color: @grayLighter;
				}
				.caret {
					border-top-color: @grayLighter;
				}
			}
		}
		&:last-child{
			> a{
				border-right: 0;
			}
		}

	}

	h3, p{
		margin-right: 0 !important;
	}
	h3 a,
	p a{
		background-color: @color_two;
		border-color: transparent @white transparent transparent;
		color : @grayDark;
		display: block;
		font-family: @altFontFamily;
		font-size: 16px;
		line-height: 42px;
		min-height: 42px;
		padding: 0 16px;
		text-transform: uppercase;
		&:hover{
			background-color: @color_three;
			color : @grayLighter ;
			text-decoration: none;
		}
	}
	.open{
		h3 a,
		p a{
			background-color: @color_three;
			color : @grayLighter !important;
			border-color: transparent @white transparent transparent;
		}
	}
	dt{
		&:last-child{
			a{
				border-right: 0;
			}
		}
		a{
			border-radius: 0;
		}
	}
	+ .current {
		background-color: @white;
		color: @textColor;
		padding: 10px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		.clearfix();

	}
	&.nav-stacked{
		>li{
			>a{
				border-color: transparent transparent @white transparent;
			}
			&:hover,
			&:focus{
				border-color: transparent transparent @white transparent;
			}
			&:last-child{
				> a{
					border-color: transparent;
				}
			}
			&.active{
				> a:hover{
					color :@grayLighter;
				}
			}
		}
	}
}
.tabs-below>.nav-tabs>.active>a, .tabs-below>.nav-tabs>.active>a:hover, .tabs-below>.nav-tabs>.active>a:focus{
	border-color: transparent @white transparent transparent;
}
.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus{
	border-top-color: transparent ;
}
.tabs-below>.nav-tabs{
	border-top-color: @white;
}
.tab-content{
	background-color: @white;
	padding: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	.clearfix();
}

.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus ,
.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {
	border-color: transparent transparent @white transparent;
}
.tabs-left > .nav-tabs {
	margin-right: 0;
	border-right-color:@white;
}

.tabs-right > .nav-tabs {
	margin-left: 0;
	border-left-color:@white;
}
.tabs-left,
.tabs-right{
	> .nav-tabs > li {
		&.active{
			> a{
				border-color: transparent transparent @white transparent;
				&:hover,&:focus{
					border-bottom-color: @white;
					border-left: 0;
					border-right: 0;
					border-top-color: @color_three;
				}
			}
		}
		&:last-child{
			> a{
				border-bottom: 0;
			}
		}
	}
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a{
	border-bottom: 1px solid @white;
	border-left: 0;
	border-right: 0;
	margin-bottom: 0;
}

.tabs-left,
.tabs-right{
	.nav-tabs.nav{
		border: 0;
		> li.active.dropdown{
			background-color: @color_three;
		}
		> li.dropdown {
			> a{
				color: @grayDark;
				.caret{
					border-top-color: @grayDark;
				}

				[class^="icon-"],
				[class*=" icon-"]{
					color: @grayDark;
				}
			}
			&.active{
				> a{
					color: @grayLighter;
					.caret{
						border-top-color: @grayLighter;
					}

					[class^="icon-"],
					[class*=" icon-"]{
						color: @grayLighter;
					}
				}
			}

			ul.dropdown-menu{
				li {
					a {
						color: @white;
					}
					.caret{
						border-top-color: @white;
					}

					[class^="icon-"],
					[class*=" icon-"]{
						color: @white;
					}
				}

				.sub-menu{
					background-color: @grayDark;
				}
			}
		}
	}
}

.module .nav.nav-tabs li > a [class^="icon-"], .module .nav.nav-tabs li > a [class*=" icon-"]{
	color : @textColor;
}
.module .nav.nav-tabs li > a:hover, .module .nav.nav-tabs li > a:focus{
	background-color: @color_three;
	color : @grayLighter;
	[class^="icon-"], [class*=" icon-"]{
		color: @grayLighter;
	}
}
.module .nav.nav-tabs.nav-stacked li.active > a:hover, .module .nav.nav-tabs.nav-stacked li.active > a:focus{
	color : @grayLighter;
}

.module .tabs-right .nav.nav-tabs li.dropdown .dropdown-menu li.active>a,
.module .tabs-left .nav.nav-tabs li.dropdown .dropdown-menu li.active>a{
	color: #ccc;
}

// Menus in non-nav modules

.module {
	.nav {
		li {
			> a {
				padding: 5px;
				[class^="icon-"],
				[class*=" icon-"] {
					color: @linkColor;
				}
				.caret {
					border-top-color: @linkColor;
					border-bottom-color: @linkColor;
					position: absolute;
					right: 5px;
					top: 5px;
				}
				&:hover,
				&:focus {
					color: @dropdownLinkColorHover;
					background-color: @grayLighter - #111;
					[class^="icon-"],
					[class*=" icon-"] {
						color: @dropdownLinkColorHover;
					}
					.caret {
						border-bottom-color: @dropdownLinkColorHover;
						border-top-color: @dropdownLinkColorHover;
					}
				}
			}
		}
		.dropdown-menu,
		.dropdown {
			position: relative;
			display: block;
			background-color: transparent;
			float: none;
			border: 0;
			box-shadow: none;
			border-radius: 0;
			min-width: 0;
			padding: 0;
			ul {
				margin: 0 5px;
			}
			li {
				> a {
					white-space: normal;
					.caret {
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						border-bottom: 4px solid transparent;
						border-top: 4px solid @dropdownLinkColor;
					}
					&:hover,
					&:focus {
						.caret {
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;
							border-bottom: 4px solid transparent;
							border-top: 4px solid @dropdownLinkColorHover;
						}
					}
				}
				&.active {
					> a {
						color: @dropdownLinkColorActive;
						[class^="icon-"],
						[class*=" icon-"] {
							color: @dropdownLinkColorActive;
						}
						.caret {
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;
							border-bottom: 4px solid transparent;
							border-top: 4px solid @dropdownLinkColorActive;
						}
						&:hover,
						&:focus {
							color: @dropdownLinkColorHover;
							[class^="icon-"],
							[class*=" icon-"] {
								color: @dropdownLinkColorHover;
							}
							.caret {
								border-left: 4px solid transparent;
								border-right: 4px solid transparent;
								border-bottom: 4px solid transparent;
								border-top: 4px solid @dropdownLinkColorHover;
							}
						}
					}
				}
			}
			.sub-menu {
				&:before,
				&:after {
					display: none;
				}
			}
		}
    	&.nav-stacked,
    	&.nav-pills {
	      	li {
	      		> a {
	      			text-shadow: none;
	      		}
	      		.dropdown,
	      		.dropdown-menu {
	      			li {
	      				> a {
		            		.caret {
		              			border-left-color: transparent;
		              			border-top-color: @dropdownLinkColor;
		            		}
		            		&:hover,
		            		&:focus {
		            			.caret {
			              			border-left-color: transparent;
			              			border-top-color: @dropdownLinkColorHover;
		            			}
		            		}
	      				}
	      				&.active {
	      					> a {
			            		.caret {
			              			border-left-color: transparent;
			              			border-top-color: @dropdownLinkColorActive;
			            		}
			            		&:hover,
			            		&:focus {
			            			color: @dropdownLinkColorHover;
				            		[class^="icon-"],
				            		[class*=" icon-"] {
				             			color: @dropdownLinkColorHover;
				            		}
				            		.caret {
				              			border-left-color: transparent;
				              			border-top-color: @dropdownLinkColorHover;
				            		}
			            		}
	      					}
	      				}
	      			}
	      		}
	        	&.active {
	          		> a {
	            		color: @white;
	            		[class^="icon-"],
	            		[class*=" icon-"] {
	             			color: @dropdownLinkColorActive;
	            		}
	            		.caret {
	              			border-top-color: @dropdownLinkColorActive;
	              			border-left-color: transparent;
	            		}
	            		&:hover,
	            		&:focus {
	              			color: @dropdownLinkColorHover;
	              			[class^="icon-"],
	              			[class*=" icon-"] {
	                			color: @dropdownLinkColorHover;
	              			}
	              			.caret {
	                			border-top-color: @dropdownLinkColorHover;
	              			}
	            		}
	          		}
	        	}
	      	}
    	}
  	}
	.tabbable {
  		li {
    		.dropdown,
    		.dropdown-menu {
    			li {
    				> a {
	        			.caret {
	          				border-top-color: @dropdownLinkColor;
	              			border-left-color: transparent;
	        			}
		    			&:hover,
		    			&:focus {
		    				.caret {
		    					border-top-color: @dropdownLinkColorHover;
		    					border-left-color: transparent;
		    				}
		    			}
    				}
    				&.active {
    					> a {
		            		.caret {
		              			border-top-color: @dropdownLinkColorActive;
		              			border-left-color: transparent;
		            		}
		            		&:hover,
		            		&:focus {
		            			.caret {
			    					border-top-color: @dropdownLinkColorHover;
			    					border-left-color: transparent;
		            			}
		            		}
    					}
    				}
    			}
    		}
  		}
  	}
}
.dropdown-menu{
	border-radius: 0;
	border: 0;
	box-shadow: none;
	li {
		> a{
			padding-bottom: 8px;
			padding-top: 8px;
		}
	}
	.divider{
		margin-top: 1px;
		background-color: @grayLight;
	}
}

.page-header{
	border-bottom-color: @color_two;
	color : #A5A0A4;
	padding-bottom: 0;
	text-transform: uppercase;
	h1,h2,h3,h4,h5,h6{margin-bottom: 10px;}
}
.label{
	border-radius: 0;
}
.label, .badge{
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
	&.label-info, &.badge-info{
		background-color: @color_three;
	}
}
// Docs

div{
	.prettyprint{
		.border-radius(0);
	}
	.bs-docs-example{
		border: 1px solid @grayLighter;
		border-radius: 0;
		padding: 60px 30px 40px;

		&:after{
			background-color: @grayLighter;
			border-radius: 0;
			border: 0;
			color: @grayDark;
			content : "EXAMPLE";
			height: 20px;
			left: 10px;
			top: 10px;
		}
	}
	code{
		background-color: transparent;
		color : @color_three;
		border: 0;
		font-size: 16px;
	}
}
// ---------------------------------
div.intro{
	margin-bottom: 20px;
}
div.cat-children li, div.categories-list li,
div.cat_children > div, div.cat-children > div, div.categories-list > div{
	border-bottom-color: @color_two;
}
.search{
	input[type="text"]{
		height: 40px;
		-webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
				box-sizing: border-box;
	}
}

.panel{
	border-left-color: @color_four;
	border-right-color: @color_four;
	border-top-color: @color_four;
	&:last-child{
		border-bottom-color: @color_four;
	}
}

.row-no-margin{
	.span12{
		width: 100% !important;
	}
	.span11{
		width: 91.66666667% !important;
	}
	.span10{
		width: 83.3333% !important;
	}
	.span9{
		width: 75% !important;
	}
	.span8{
		width: 66.66666667% !important;
	}
	.span7{
		width: 58.3333% !important;
	}
	.span6{
		width: 50% !important;
	}
	.span5{
		width: 41.66666667% !important;
	}
	.span4{
		width: 33.3333% !important;
	}
	.span3{
		width: 25% !important;
	}
	.span2{
		width: 16.66666667% !important;
	}
	.span1{
		width: 8.3333% !important;
	}
	[class*="span"] ,[class*=" span"]{
		margin-left: 0 !important;
	}
}
.img-polaroid{
	background-color: @bodyBackground;
	box-shadow: none;
}
.onhover{
	position: relative;
	.wrightmodule-content{
		bottom: 0;
		position: absolute;
		left: 0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		display: none;

	}
	.wrightmodule-imgfeatured{
		overflow: hidden;
	}
	&:hover {
		.wrightmodule-content {
			display: block;
		}
	}
}

div.intro{padding: 0;}

// LifeStream
body{
	div.lifestream {
		ul.stream {
			background-color: transparent;
			background-image: none;
			border-radius: 0;
			border: 0;
			color: #202020;
			li{
				background-color: transparent;
				background-image: none;
				border-radius: 0;
				border: 0;
				font-size: @baseFontSize + 6;
			}
			.list_twitter{
				.icon{
					height: 41px;
					position: relative;
					width: 41px;
					&:before{
						color: #8ED1F6;
						content: '\f099';
						font-family: FontAwesome;
						font-size: 41px;
						height: 41px;
						line-height: 41px;
						position: absolute;
						top: 0;
						width: 41px;
					}
					img{
						display: none;
					}
				}
			}
		}
	}
}
.no-responsive{
	#footer.sticky{left: 0;}
}

// Buttons
.btn{
	.border-radius(0) !important;
	border-color:@btnBackground;
	box-shadow: none;
	color : @btnColor;
	font-family: @altFontFamily;
	font-size: 20px;
	padding-bottom: 10px;
	padding-right: 83px;
	padding-top: 10px;
	position: relative;
	text-shadow: none;
	text-transform: uppercase;
	background-image:none;
	-ms-filter:none;
	    filter:none;
	&:after{
		background-image: url(../images/btn-arrow.png);
		background-position: right center;
		background-repeat: no-repeat;
		content: '';
		height: 100%;
		position: absolute;
		right: 20px;
		top: 0;
		width: 50px;
	}

	.caret {
		border-top-color: @btnColor;
		border-bottom-color: @btnColor;
	}
	[class^="icon-"],
	[class*=" icon-"] {
		color: @btnColor;
		display: inline-block;
		.ie7-inline-block();
		margin: 0 3px;
		text-decoration: none;
	}
	&:hover,
	&:focus {
		background-color: @btnBackgroundHighlight;
		border-color: @btnBackgroundHighlight;
		color : @btnColor;
		.caret {
			border-top-color: @btnColor;
			border-bottom-color: @btnColor;
		}
		[class^="icon-"],
		[class*=" icon-"] {
			color: @btnColor;
		}
	}
	&.active {
		background-color: @btnBackgroundHighlight;
		border-color: @btnBackgroundHighlight;
		color : @btnColor;
		.caret {
			border-top-color: @btnColor;
			border-bottom-color: @btnColor;
		}
		[class^="icon-"],
		[class*=" icon-"] {
			color: @btnColor;
		}
		&:hover,
		&:focus {
			color: @btnColor;
			[class^="icon-"],
			[class*=" icon-"] {
				color: @btnColor;
			}
		}
	}
	&.btn-link{
		border: 0;
	}
	&.btn-navbar{
		background-image: none;
		border: 0;
		box-shadow: none;
		filter: none;
		height: 59px;
		margin: 0;
		padding: 20px 27px;
		width: 87px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;

		.icon-bar{
			height: 1px;
			margin: 0 0 7px 0;
			width: 33px;
		}

		&:after{content: none;}
	}
}
.btn-primary{
	border-color: @btnPrimaryBackground;
	background-color: @btnPrimaryBackground;
	&:hover,
	&:focus {
		background-color: @btnPrimaryBackgroundHover;
		border-color: @btnPrimaryBackgroundHover;
		.caret {
			border-top-color: @btnColor;
			border-bottom-color: @btnColor;
		}
		[class^="icon-"],
		[class*=" icon-"] {
			color: @btnColor;
		}
	}
	&.active{
		background-color: @btnPrimaryBackgroundHover;
		border-color: @btnPrimaryBackgroundHover;
	}
}
.btn-info{
	border-color: @btnInfoBackground;
	&:hover,&:focus, &.active{
		background-color: @btnInfoBackgroundHighlight;
		border-color: @btnInfoBackgroundHighlight;
	}
}
.btn-success{
	border-color: @btnSuccessBackground;
	&:hover,&:focus, &.active{
		background-color: @btnSuccessBackgroundHighlight;
		border-color: @btnSuccessBackgroundHighlight;
	}
}
.btn-warning{
	border-color: @btnWarningBackground;
	&:hover,&:focus, &.active{
		background-color: @btnWarningBackgroundHighlight;
		border-color: @btnWarningBackgroundHighlight;
	}
}
.btn-danger{
	border-color: @btnDangerBackground;
	&:hover,&:focus, &.active{
		background-color: @btnDangerBackgroundHighlight;
		border-color: @btnDangerBackgroundHighlight;
	}
}
.btn-inverse{
	border-color: @btnInverseBackground;
	color : @white;
	&:after{
		background-image: url(../images/btn-arrow-inverse.png);
	}
	.caret {
		border-top-color: @white;
		border-bottom-color: @white;
	}
	[class^="icon-"],
	[class*=" icon-"] {
		color: @white;
	}
	&:hover,
	&:focus {
		background-color: @btnInverseBackgroundHighlight;
		border-color: @btnInverseBackgroundHighlight;
		color : @white;
		.caret {
			border-top-color: @white;
			border-bottom-color: @white;
		}
		[class^="icon-"],
		[class*=" icon-"] {
			color: @white;
		}
	}
	&.active {
		background-color: @btnInverseBackgroundHighlight;
		border-color: @btnInverseBackgroundHighlight;
		color: @white;
		.caret {
			border-top-color: @white;
			border-bottom-color: @white;
		}
		[class^="icon-"],
		[class*=" icon-"] {
			color: @white;
		}
		&:hover,
		&:focus {
			color: @white;
			[class^="icon-"],
			[class*=" icon-"] {
				color: @white;
			}
		}
	}
}

.btn-group.open .dropdown-toggle{
	box-shadow: none;
}
.btn-group>.btn{
	padding-right: 12px;
	position: static;
	&:after{
		content: none;
	}
}

input.btn{
	font-size: @baseFontSize;
	padding: @paddingSmall;
	&:after{
		display: none;
	}
}

// -------------------------------------------------

#grid-top,
#grid-top2,
#grid-top3,
#grid-bottom,
#grid-bottom2,
#grid-bottom3,
#grid-bottom4,
#grid-bottom5_6
{
    background-size: cover;
    -webkit-background-size: cover;
}

#grid-top{
	font-size: @baseFontSize + 2;

	[class^="module"], [class*=" module"]{
		margin-bottom: 60px;
	}
	&[class^="color_"]
	{
		[class^="module"], [class*=" module"]{
			margin-bottom: 0;
		}
	}
}

#grid-top2{
	.module, .moduletext, .moduletable{
		> h3{
			color :#878787;
			text-transform: uppercase;
		}
	}
	[class^="module"], [class*=" module"]{
		margin-bottom: 60px;
	}
	&.color_one{
		.module, .moduletext, .moduletable{
			> h3{
				color : #ccc;
			}
		}
	}
	&.color_three{
		.module, .moduletext, .moduletable{
			> h3{
				color : #ccc;
			}
		}
	}
}

#grid-top3{
	.grid-top3{
		padding-bottom: 2%;
		padding-top: 2%;
	}
}

#grid-bottom5{
	font-size: @baseFontSize + 2;
	margin-bottom: 0;
	padding-bottom: 95px;
	padding-top: 95px;

	.module, .moduletext, .moduletable{
		margin-bottom: 0;
		> h3{
			font-family: @altFontFamily;
			font-size: @baseFontSize + 2;
			text-transform: uppercase;
			margin-bottom: 23px;
		}
	}
}
.tone_inverse_color{
	background-color: @toneInverseColor;
	color: @white;
	a,
	[class*="category-module"].list-striped li:nth-child(odd) a,
	[class*="category-module"].list-striped dd:nth-child(odd) a,
	p.readmore a{
		color:#5ECDE8;
	}
	.module_ms2, .moduletext_ms2, .moduletable_ms2{
		color: @white;
	}
	div.lifestream {
		ul.stream {
			color: @white;
			.list_twitter{
				.icon{
					&:before{
						color: @color_two;
					}
				}
			}
		}
	}
}

.bg-color-grid-bottom-modules(){
	padding-bottom: 1em;
	padding-top: 1em;

	[class*="module"]{
		font-size: @baseFontSize + 4;
		line-height: @baseLineHeight + 7;
		margin-bottom: 0 !important;
	}

	a{
		text-decoration: underline;
	}
}

#grid-top,
#grid-bottom,
#grid-bottom2{
	margin-bottom: 0;
}

#grid-bottom,
#grid-bottom2,
#grid-bottom3,
#grid-bottom4,
#grid-bottom5,
#grid-bottom6{
	&.color_one,
	&.color_two,
	&.color_three,
	&.color_four,
	&.color_five,
	&.white,
	&.black,
	&.tone_inverse_color{
		margin-bottom: 80px;
	}
	&.noSeparateGridBottom{
		margin-bottom: 0;
	}
}

.color_one{
	background-color: @color_one;
	color: @white;

	.module_ms2, .moduletext_ms2, .moduletable_ms2{
		border-color: @color_two;
		color : @white;
		> h3{
			background-color: @color_two;
			color: @textColor;
		}
	}

	.module_ms4, .moduletext_ms4, .moduletable_ms4{
		color : @white;
		> h3{
			color : @color_two;
		}
	}

	.module_ms6>h3, .moduletext_ms6>h3, .moduletable_ms6>h3{
		color: #ccc;
	}

	a,
	p.readmore a,
	[class*="category-module"].list-striped li:nth-child(odd) a,
	[class*="category-module"].list-striped li:hover a,
	[class*="category-module"].list-striped dd:nth-child(odd) a,
	[class*="category-module"].list-striped dd:hover a
	{
		color: @color_two;
	}


	[class*="newsflash"]{
		[class*="newsflash-title"]{
			color: #ccc;
			.page-header{
				color: #ccc;
			}
		}
	}

	div.lifestream {
		ul.stream {
			color: @white;
			.list_twitter{
				.icon{
					&:before{
						color: @color_two;
					}
				}
			}
		}
	}
}
.color_two{
	background-color: @color_two;
	color : @textColor;

	.module_ms6>h3, .moduletext_ms6>h3, .moduletable_ms6>h3{
		color: #888;
		border-bottom-color: @color_one;
	}


	div.lifestream {
		ul.stream {
			color: @textColor;
			.list_twitter{
				.icon{
					&:before{
						color: @color_three;
					}
				}
			}
		}
	}

}
.color_three{
	background-color: @color_three;
	color : @white;

	.module_ms2, .moduletext_ms2, .moduletable_ms2,
	.module_ms4, .moduletext_ms4, .moduletable_ms4{
		color : @white;
	}

	.module_ms2, .moduletext_ms2, .moduletable_ms2{
		border-color: @color_two;
		> h3{
			background-color: @color_two;
			color: @textColor;
		}
	}
	.module_ms4, .moduletext_ms4, .moduletable_ms4{
		> h3{
			color : @color_two;
		}
	}
	.module_ms6>h3, .moduletext_ms6>h3, .moduletable_ms6>h3,
	[class*="newsflash"] [class*="newsflash-title"] .page-header{
		color: #ccc;
	}
	a,
	[class*="category-module"].list-striped li:nth-child(odd) a,
	[class*="category-module"].list-striped li:hover a,
	[class*="category-module"].list-striped dd:nth-child(odd) a,
	[class*="category-module"].list-striped dd:hover a{
		color : @color_four;
	}
	p.readmore a{
		color: #ccc;
	}
	[class*="newsflash"]{
		color: @white;
	}

	div.lifestream {
		ul.stream {
			color: @white;
			.list_twitter{
				.icon{
					&:before{
						color: @color_two;
					}
				}
			}
		}
	}
}
.color_four{
	background-color: @color_four;
	color: @textColor;

	.module_ms6>h3, .moduletext_ms6>h3, .moduletable_ms6>h3{
		color: #888;
	}
}
.color_five{
	background-color: @color_five;
	color: @textColor;
	.module, .moduletext, .moduletable{
		color: @textColor;
	}
}
.white{
	background-color: @white;
}
.black{
	background-color: @black;
	color: @white;

	div.lifestream {
		ul.stream {
			color: @white;
			.list_twitter{
				.icon{
					&:before{
						color: @color_two;
					}
				}
			}
		}
	}
}
.tone_color{
	.module_ms6{
		padding-bottom: 15px;
		padding-top: 15px;
		[class*="newsflash"]{
			margin-bottom: -15px;
		}
	}
}

.color_one,
.color_two,
.color_three,
.color_four,
.color_five,
.tone_inverse_color,
.white,
.black{
	.bg-color-grid-bottom-modules();

	.module_ms3, .moduletext_ms3, .moduletable_ms3{
		color : @textColor;
	}
	.btn{
		text-decoration: none;
		color: #212121;
		.btn-inverse{
			color: @white;
		}
	}
}

.Tone{
	background-color: @bodyBackground;
}

.Tone-Dark{
	background-color: @grayDarker;
	color: @grayLighter;

	.article-info.muted{
		color: @grayLight;
	}

	.wrapp-breadcrumb{
		background-color: @grayDark;
		color: @grayLighter;
		.breadcrumb{
			background-color: @grayDark;
		}
	}
	.breadcrumb>li .divider{
		color: @grayLight;
	}
	.well{
		background-color: @grayDark;
	}
	.table{
		td{
			color: @grayLighter;
		}
		&.table-striped tbody>tr:nth-child(odd){
			>td,
			>th{
				background-color: @grayDark;
				color: @white;
			}
		}
		&.table-hover tbody tr:hover{
			>td,
			>th{
				background-color: @tableBackgroundHover;
				color: @textColor;
			}
		}
	}
	p.img_caption{background-color: @grayDark;}

	legend{
		color: @grayLighter;
		border-bottom-color: @grayLight;
	}
	.panel h3.pane-toggler-down a, .panel p.pane-toggler-down a{
		color: @grayLighter;
	}
	.tone_inverse_color{
		background-color: @bodyBackground;
		color: @textColor;
		.module_ms2, .moduletext_ms2, .moduletable_ms2{
			color: @textColor;
		}
	}
	.white{
		color: @textColor;
	}
	#container-civic{
		background-color: @grayDarker;
	}
	.counter{
		color: @grayLighter;
	}

	.nav.nav-tabs + .current{
		.table {
			td{
				color: @textColor;
			}

			&.table-striped tbody>tr:nth-child(odd){
				>td,
				>th{
					background-color: @grayDark;
					color: @white;
				}
			}
		}
	}

	// Lifestream Dark

	div.lifestream {
		ul.stream {
			color: @grayLighter;
			.list_twitter{
				.icon{
					&:before{
						color: #8ED1F6;
					}
				}
			}
		}
	}

	.color_one{
		div.lifestream {
			ul.stream {
				color: @white;
				.list_twitter{
					.icon{
						&:before{
							color: @color_two;
						}
					}
				}
			}
		}
	}

	.color_two{
		div.lifestream {
			ul.stream {
				color: @textColor;
				.list_twitter{
					.icon{
						&:before{
							color: @color_three;
						}
					}
				}
			}
		}
	}

	.color_four,.color_five, .white{
		div.lifestream {
			ul.stream {
				color: @textColor;
				.list_twitter{
					.icon{
						&:before{
							color: @color_three;
						}
					}
				}
			}
		}
	}

	.tone_inverse_color {
		div.lifestream {
			ul.stream {
				color: @textColor;
				.list_twitter{
					.icon{
						&:before{
							color: @color_two;
						}
					}
				}
			}
		}
	}

}

#grid-bottom5{
	&.color_one,
	&.color_two,
	&.color_three,
	&.color_four,
	&.color_five,
	&.tone_inverse_color,
	&.white,
	&.black{
		margin-bottom: 0 !important;
	}
}

#header{
	.dropup{
		.nav li.dropdown .dropdown-menu li .sub-menu, .navbar-inner li.dropdown .dropdown-menu li .sub-menu, .nav .navbar-inner li.dropdown .dropdown-menu li .sub-menu, .navbar .nav li.dropdown .dropdown-menu li .sub-menu, .navbar .nav .navbar-inner li.dropdown .dropdown-menu li .sub-menu{
			top: auto;
			bottom: 0;
		}
		.dropdown-menu{
			margin-bottom: 0;
			padding: 0;
		}

	}
}

.contact-form .form-actions{
	background-color: transparent;
	border: 0;
}

button[name="Search"]{
	.icon-search.icon-white{
		display: none;
	}
}

#logo {
	a.image{
		display: block;
	}
}




// Slider
// ---------------------


//	BigVideo Styles
//	You may need to adjust these styles to get this working right in your design.

#big-video-wrap{overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:fixed;bottom:20px;padding: 0 20px;width:100%;
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}

#big-video-control-container {
	display: none;
}

.vjs-control-bar {
	display: none;
}
#featured{
	.wrapper {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 0;
	}
}

// Video Pages

.screen {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    overflow: hidden;
}

.big-image {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    height: auto;
    width: auto;
}

.big-loader {
    bottom: 0;
    color: #FFFFFF;
    left: 50%;
    position: absolute;
    z-index: 2;
}

.video-title {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: .5;
    margin: 40px 0 0 0;
    padding: 0;
    line-height: .65;
    font-size: 4em;
    text-transform: uppercase;
}

#prev-btn,
#next-btn{
	position: absolute;
    top: 1.5em;
    z-index: 3;
}

#next-btn{
	right: 4%;
}
#prev-btn{
	left: 4%;
}
.nav-icon{
	font-family: @altFontFamily;
	font-size: @baseFontSize + 6;
	text-transform: uppercase;
    border-bottom: 1px solid @color_two;
    border-top: 1px solid @color_two;
    color: @color_two;
    display: block;
    &:hover, &:focus{
    	color: @white;
	    border-bottom: 1px solid @white;
	    border-top: 1px solid @white;
		text-decoration: none;
    }
}

// Codrops Header Style
.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
    text-decoration: none;
}
.codrops-top a:hover {
    background: rgba(255,255,255,0.4);
}
.codrops-top span.right{
    float: right;
}
.codrops-top span.right a{
    float: left;
    display: block;
}

// End Codrops Header Style


#big-video-wrap{
	z-index: 2;
}

#featured{
	overflow: hidden;
}

#featured,
#container-civic{
	position: relative;
	z-index: 3;
}

#container-civic{
	background-color: @bodyBackground;
	.clearfix();
}

.is_internet.v_9{
	.wrapper-footer{
		margin-top: -1px;
	}
}

.slider{
	position: relative;
	z-index: 2;
	padding-top: 2em;
}
.slider-filter{
	background-image: url(../images/slider-filter.png);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	.opacity(70);
}
.featured-inner{
	position: absolute;
	text-align: center;
	z-index: 2;
	height: 100%;
	width: 100%;

	> div{
		position: absolute;
		text-align: center;
		z-index: 2;
		height: 100%;
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;

		> *{
			color: @white;
			margin-left: auto;
			margin-right: auto;
			max-width: 90%;
		}
	}
}

.slider{
	color: @white;
	font-family: @altFontFamily;
	font-size: @baseFontSize + 6;

	h2{
		font-family: @sansFontFamily;
		font-size: @baseFontSize + 66;
		font-weight: 700;
	}
}

#menu{
	.navbar {
		margin-bottom: 0;
		.nav{
			>li{
				margin-bottom: 0;
				margin-top: 0;
				padding-bottom: 15px;
				padding-top: 33px;
			}
		}
	}
}
.header{
	padding-top: 0;
}
#logo{
	margin-bottom: 15px;
	margin-top: 15px;
}
.navbar-inverse .nav li.dropdown .dropdown-menu li>a:hover .caret,
.navbar-inverse .navbar-inner li.dropdown .dropdown-menu li>a:hover .caret,
.navbar-inverse .navbar .nav li.dropdown .dropdown-menu li>a:hover .caret{
	border-top-color: transparent;
	border-bottom-color: transparent;
}
