@media (min-width:1080px) {
	.relative{
		.wrightmodule-content{
			left: 10%;
			width: 80%;
		}
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.relative{
		.wrightmodule-content{
			left: -50%;
			width: 200%;
		}
	}
}

@media (max-width: 979px){
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 0;
	}
	.header{
		padding-top: 0;
		background-color: fade(@altBlack, 90%);
		.navbar{
			margin-bottom: 0;
		}
		.navbar-inner{
			background-color: transparent;
		}
		.nav-collapse.in.collapse{
			background-color: @navbarInverseBackground;
		}
	}
	#logo{
		a{
			display: block;
			max-width: 75%;
			padding-top: 6px;
		}
	}
	.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a{
		border-radius: 0;
	}
	.navbar-inverse {
		.nav,
		.navbar-inner,
		.nav .navbar-inner,
		.navbar .nav,
		.navbar .nav .navbar-inner {
			> li {
				&:focus,
				&:hover{
					> a {
						&:before{
							border-top: 0;
						}
						&:after{
							border-bottom: 0;
						}
					}
				}
				> a{
					border-top: 1px solid @grayLighter;
				}
				&.active{
					> a{
						&:before{
							border-top: 0;
						}
						&:after{
							border-bottom: 0;
						}
					}
				}
			}
			li {
				.dropdown-menu{
					li {
						> a{
							color: @linkColor;
						}
						.sub-menu{
							li a{
								color: @white;
							}
						}
					}
				}
			}
		}
	}
	.nav,
	.navbar-inner,
	.nav .navbar-inner,
	.navbar .nav,
	.navbar .nav .navbar-inner {
		> li {
			&:focus,
			&:hover{
				> a {
					&:before{
						border-top: 0;
					}
					&:after{
						border-bottom: 0;
					}
				}
			}
			> a{
				border-top: 1px solid @grayLighter;
				font-size: @baseFontSize + 6;
				font-weight: 400;
			}
			&:first-child{
				> a{
					border-top: 0;
				}
			}
			&.active{
				> a{
					&:before{
						border-top: 0;
					}
					&:after{
						border-bottom: 0;
					}
				}
			}
		}
		li {
			.dropdown-menu{
				li {
					> a{
						color: @linkColor;
						font-size: @baseFontSize + 6;
						padding-bottom: 15px;
						padding-top: 15px;
						.caret{
							margin-top: 8px;
						}
					}
					.sub-menu{
						li {
							> a{
								.caret{
									border-top-color: @grayLighter;
								}
								&:hover,&:focus{
									.caret{
										border-top-color: @grayLighter;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a{
		font-weight: 400;
	}
	.nav-collapse .nav>li>a{
		padding-left: 0;
		padding-right: 0;
	}
	.nav-collapse .dropdown-menu li+li a{
		margin-bottom: 0;
	}
	.navbar{
		.nav {
			li{
				margin-bottom: 0;
				margin-top: 0;
				padding-bottom: 0;
			}
		}
	}
	.nav-collapse .dropdown-menu
	{
		margin-left: 0;
		margin-right: 0;
	}
	.dropdown-menu li .sub-menu{
		position: static !important;
		visibility: visible !important;
		display: block !important;
	}
	.nav li.dropdown .dropdown-menu li>a,
	.navbar-inner li.dropdown .dropdown-menu li>a,
	.nav .navbar-inner li.dropdown .dropdown-menu li>a,
	.navbar .nav li.dropdown .dropdown-menu li>a,
	.navbar .nav .navbar-inner li.dropdown .dropdown-menu li>a{
		.caret{
			border-left-color: transparent;
			border-top-color: @grayDark;
		}
		&:hover{
			.caret{
				border-left-color: transparent;
				border-top-color: @grayDark;
			}
		}
	}
}
@media (max-width:767px) {
	.row-no-margin{
		[class*="span"]{
			width: 100% !important;
		}
	}
	.grid-bottom,
	.grid-bottom2{
		.row-no-margin{
			[class^="module"]{
				margin-bottom: 0;
			}
		}
	}
	.relative{
		.wrightmodule-content{
			left: 5%;
			width: 90%;
		}
	}
	.header{
		margin-left: -20px;
		margin-right: -20px;
		
		#logo{
			height: 59px;
			padding-left: 20px;
			img{
				height: 43px;
				margin-top: 3px;
			}
		}
		.navbar-inner{
			border: 1px solid @navbarBackground;
			min-height: 0;
			position: relative;
			.btn-navbar{
				bottom: 100%;
				position: absolute;
				right: 0;
			}
		}
		&.navbar-inverse .navbar-inner{
			border: 1px solid @navbarInverseBackground;
		}
	}
	#grid-top,
	#grid-top2,
	#grid-bottom,
	#grid-bottom2,
	.grid-top3{
		margin-left: -20px;
		margin-right: -20px;
	}
	#grid-top,
	#grid-top2,
	#grid-top3{
		&.container{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
